@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.centered-container {
  @apply mx-auto max-w-screen-xl px-5 md:px-14;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

@font-face {
  font-family: "Bangers";
  src: url("./assets/fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: "Bowlby";
  src: url("./assets/fonts/BowlbyOne-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
